group neutral
  framework netstandard2.0
  source https://www.nuget.org/api/v2
  nuget FSharp.Core
  nuget Fabulous.XamarinForms
  nuget Fabulous.XamarinForms.LiveUpdate
  nuget Xamarin.Forms ~> 4.5.0 # Keep Xamarin.Forms to the last supported major version by Fabulous
  nuget Xamarin.Essentials
  nuget UrhoSharp.Forms

group androidapp
  framework monoandroid9.0
  source https://www.nuget.org/api/v2
  nuget FSharp.Core
  nuget Fabulous.XamarinForms
  nuget Fabulous.XamarinForms.LiveUpdate
  nuget Xamarin.Forms ~> 4.5.0 # Keep Xamarin.Forms to the last supported major version by Fabulous
  nuget Xamarin.Essentials
  nuget UrhoSharp.Forms
  nuget Xamarin.Android.FSharp.ResourceProvider
  nuget Xamarin.Android.Support.v7.AppCompat
  nuget Xamarin.Android.Support.Design
  nuget Xamarin.Android.Support.Media.Compat

group iosapp
  framework xamarinios
  source https://www.nuget.org/api/v2
  nuget FSharp.Core
  nuget Fabulous.XamarinForms
  nuget Fabulous.XamarinForms.LiveUpdate
  nuget Xamarin.Forms ~> 4.5.0 # Keep Xamarin.Forms to the last supported major version by Fabulous
  nuget Xamarin.Essentials
  nuget UrhoSharp.Forms