<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Fabulous" version="1.0.0" targetFramework="xamarinios10" />
  <package id="Fabulous.LiveUpdate" version="1.0.0" targetFramework="xamarinios10" />
  <package id="Fabulous.XamarinForms" version="1.0.0" targetFramework="xamarinios10" />
  <package id="Fabulous.XamarinForms.LiveUpdate" version="1.0.0" targetFramework="xamarinios10" />
  <package id="FSharp.Core" version="5.0.1" targetFramework="xamarinios10" />
  <package id="Newtonsoft.Json" version="13.0.2" targetFramework="xamarinios10" />
  <package id="System.Buffers" version="4.5.1" targetFramework="xamarinios10" />
  <package id="Xamarin.Essentials" version="1.6.1" targetFramework="xamarinios10" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="xamarinios10" />
  <package id="UrhoSharp.Forms" version="1.9.67" targetFramework="xamarinios10" />
  <package id="Xamarin.Forms" version="5.0.0.2012" targetFramework="xamarinios10" />
</packages>