<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Fabulous" version="0.55.0-preview6" />
  <package id="Fabulous.LiveUpdate" version="0.55.0-preview6" />
  <package id="Fabulous.XamarinForms" version="0.55.0-preview6" />
  <package id="Fabulous.XamarinForms.LiveUpdate" version="0.55.0-preview6" />
  <package id="FSharp.Core" version="4.7.1" />
  <package id="Newtonsoft.Json" version="12.0.3" />
  <package id="UrhoSharp.Forms" version="1.9.67" targetFramework="xamarinios10" />
  <package id="Xamarin.Essentials" version="1.5.1" />
  <package id="Xamarin.Forms" version="4.6.0.726" />
</packages>